.header {
  margin: 8px;
  font-size: large;
  background-color: #fff;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.section-1 {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #f5f6f8;
  padding: 20px;
}

.section-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 40px;
  flex-grow: 1;
  flex-basis: 0;
}

.logo a {
  display: flex;
  gap: 8px;
  align-items: center;
  text-decoration: none;
  color: var(--text-primary-color);
}

.search-container {
  border: 1px solid #dbdee6;
  padding: 4px 8px;
  border-radius: 400px;
  background-color: #f5f6f8;
}

.search-container form {
  display: flex;
  align-items: center;
  gap: 40px;
}


.search-container form input {
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-family: var(--font-family);
}

.search-container form input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.search-container form input::placeholder {
  font-family: var(--font-family);
  color: var(--text-secondary-color);
  font-size: 1.05em;
}

.search-container .wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.search-container .wrapper .icon svg {
  color: var(--text-primary-color);
}

.search-container .wrapper select {
  border: none;
  outline: none;
  background: transparent;
  color: var(--text-primary-color);
  font-family: var(--font-family);
  padding: 10px;
  font-size: .8em;
  font-weight: 600;
  cursor: pointer;
}

.icon.icon-search {
  padding: 4px 8px;
}

.profile-container-header {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-grow: 1;
  justify-content: flex-end;
  flex-basis: 0;
  padding-right: 40px;
}

.profile-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

button.icon.login {
  color: var(--text-secondary-color);
  font-weight: 600;
  font-size: .9em;
}

.profile-container svg {
  color: var(--text-secondary-color);
}


.ul-header {
  display: flex;
  gap: 24px;
  list-style: none;
}

.link {
  font-size: medium;
  text-decoration: none;
  color: var(--text-secondary-color);
}

.link.sales {
  font-weight: 600;
  text-transform: uppercase;
  color: var(--primary-color);
}

.icon {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}