* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family: 'Inter', sans-serif;
  --primary-color: #2548fa;
  --text-primary-color: #29374d;
  --text-secondary-color: #9397a3;
  font-family: var(--font-family);
}

body {
  background-color: #f5f6f8;
  margin: 0 auto;
}

main form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 60px;
  justify-content: center;
  max-width: 1600px;
  margin: 0 auto;
  margin-top: 60px;
}

.images-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 24px;
}

.images-container img {
  width: 580px;
  height: 580px;
}

.main-image {
  background-color: #fff;
  padding: 24px;
  border-radius: 16px;
}

div[hidden] {
  display: none;
}

.other-images {
  display: flex;
  width: 90%;
  justify-content: center;
  gap: 16px;
  margin: 0 auto;
}

.other-images img {
  width: 100px;
  height: 100%;
  object-fit: cover;
  padding: 8px;
  cursor: pointer;
  border-radius: 16px;
  background-color: #fff;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 18px;
}

.product-info h1 {
  font-size: 32px;
  font-weight: 700;
  color: var(--text-primary-color);
  margin-bottom: 18px;
}

.add-to-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 16px;
  padding: 24px;
  gap: 32px;
}

.product-info .info-card {
  gap: 16px;
}

.subtitle {
  font-size: 16px;
  font-weight: 700;
  color: var(--text-primary-color);
}

.colors {
  display: flex;
  gap: 8px;
}

.color {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #9a9ba8;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.storages {
  display: flex;
  gap: 16px;
}

.storage {
  border: 1px solid #b3bac1;
  background-color: #f5f6f8;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
  font-weight: 500;
  color: var(--text-primary-color-color);
  transition: all 0.2s ease-in-out;
}

.storage.active {
  background-color: var(--primary-color);
  color: #fff;
}

.storage.active :active {
  background-color: #1e3af2;
}

.payment-options {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.payment {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 24px;
  border-radius: 16px;
  border: 1px solid #e4e4e4;
  cursor: pointer;
  justify-content: center;
}

.price {
  font-size: 16px;
  font-weight: 700;
  color: var(--text-primary-color);
}

.payment.active {
  border: 2px solid var(--primary-color);
  background-color: #eceefd;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
}

.payment.active .price {
  color: var(--primary-color);
}

.add-to-cart {
  display: flex;
  flex-direction: row;
  gap: 24px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 8px;
  outline: none;
  height: 64px;
  align-items: center;
  font-family: var(--font-family);
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.add-to-cart:hover {
  background-color: #1e3af2;
}

.add-to-cart:active {
  background-color: #0e2ae2;
  transition: none;
}

.shipping-options {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.shipping {
  display: flex;
  gap: 8px;
  padding: 24px;
  border-radius: 16px;
  border: 1px solid #e4e4e4;
  cursor: pointer;
  align-items: center;
}

.shipping svg {
  color: var(--primary-color);
}

.shipping small {
  color: var(--text-secondary-color);
}

.shipping strong {
  color: var(--primary-color);
}

.shipping.active {
  border: 2px solid var(--primary-color);
}

.total-amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
  border-top: 2px dotted #e4e4e4;
  border-bottom: 2px dotted #e4e4e4;
}

.total-amount .price {
  font-size: 16px;
  font-weight: 700;
  color: var(--text-primary-color);
}

.wrapper-info-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.color.active {
  transform: scale(1.1);
}

.product-info .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 24px;
}

.product-info span {
  display: flex;
  align-items: center;
  gap: 8px;
}

.product-info span .color {
  width: 14px;
  height: 14px;
}